<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
    <div class="container">
        <div class="home">
            <img src="https://source.unsplash.com/Ow4ijRO4ZJw/" height="100%" width="100%">
        </div>
        <div class="ContentWrapper">
            <div class="Clock">
                <div class="Hour">
                    <h1></h1>
                </div>
                <div class="Colon">
                    <h1>:</h1>
                </div>
                <div class="Minute">
                    <h1></h1>
                </div>
                <div class="Meridiem">
                    <h3></h3>
                </div>
            </div>
        </div>
        <div class="otp">
            <div class="otp-field">
                <input type="text" maxlength="1" />
                <input type="text" maxlength="1" />
                <input class="space" type="text" maxlength="1" />
                <input type="text" maxlength="1" />
                <input type="text" maxlength="1" />
                <input type="text" maxlength="1" />
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>